<div>
    <span>Bonjour @ViewBag.Salutation,</span><br /><br />
    <span>Votre inscription a été enregistrée.</span><br /><br />
    <span>Vous allez recevoir un courriel qui contiendra le lien vers la confirmation de votre adresse de courriel.</span><br /><br />
    <span>Merci et bonne journée,</span><br /><br />
    <span>Webmestre</span>
</div>