<div>
    <span>Bonjour @ViewBag.Salutation,</span><br /><br />
    <span>Votre adresse de courriel est maintenant vérifiée.</span><br /><br />
    <span>Cliquez sur le lien ci-dessous pour vous connecter.</span><br /><br />
    <span>Merci et bonne journée,</span><br /><br />
    <span>Webmestre</span><br /><br />
    <a href="https://localhost:44339/">Se connecter</a>
</div>